body {
    font-size: 16px;
    font-family: Helvetica, sans;
    color: #3F4345;
    background-color: #C0C0C0;

}

div {
    cursor: crosshair;
  }

li {
  display: inline-flex;
  padding-right: 1rem;
}

img {
    
  border: 3px solid black;
  border-radius: 20px 10px;
}

h1 {
    color: white;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }